<h2>Desayuno</h2>
<!-- <section class="breakfast">
  <div class="chooseItems">
    <h3>Seleccione item</h3>
    <button *ngFor="let selectedMeal of meals" class="meal-btn" (click)="onSelect(selectedMeal)">
      <span class="badge">{{selectedMeal.id}}.</span> {{selectedMeal.name}}
      <br>
      <span>$ {{selectedMeal.price}}</span>
    </button>
  </div> -->

  <!-- <div class="cart">
    <h3>Detalle</h3> -->

    <!-- <div *ngIf="selectedMeal">
  <h2>Detalle</h2> -->
    <!-- <h2>{{selectedMeal.name | uppercase}} Detalles</h2> -->
    <!-- <div><span>ID: </span>{{selectedMeal.id}}</div>
  <div><span>Precio: $</span>{{selectedMeal.price}}</div> -->

    <!-- <div>
    <label>name:
      <input [(ngModel)]="selectedMeal.name" placeholder="name" name="name"/>
    </label>
  </div> -->
    <!-- </div> -->
    <!-- <div class="total-container">
      <span class="total">Total: $ {{ total }}</span>
      <span class="send">Enviar</span>
    </div>
    <ul>
      <li class="item">
        <span class="titleItem">Item</span>
        <span class="price">Cantidad</span>
        <span class="price">Precio</span>
        <span></span>
      </li>
    </ul>
    <ul>
      <li *ngFor="let added of add" class="item">
        <span class="badge">{{added.name}}</span>
        <span class="price">{{added.quantity}}</span>
        <span class="price">$ {{added.price}}</span>
        <button (click)="delete(added)" class="btn-delete">x</button>
      </li>
    </ul>
  </div> -->

    <!-- <app-detail [meal]="selectedMeal"></app-detail> -->

<!-- </section> -->

<app-detail [meal]="selectedMeal"></app-detail>
